#about-text{
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 0px 200px 0px 200px
}
#abt{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}