body {
	padding-top: 160px;
    --s: 37px;
    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
}
::-webkit-scrollbar{
    width: 15px;
	background: transparent;
}
::-webkit-scrollbar-track{
    margin-block: 0em;
    background: none;
}
::-webkit-scrollbar-thumb{
    background: #DC0000;
}

#menu{
	position: fixed;
	display: flex;
	justify-content: space-around;
	width: 60%;
	top: 20px;
	margin: 0px 19.5% 60px 19.5%;
	padding: 0.5% 0.5% 0.5% 0.5%;
	background-color: #1f1f1f;
	border: #dc0000 1px solid;
}

#menu a{
	display: flex;
	text-decoration: none;
	font-size: 150%;
	color: white;
	transition: 0.2s;
}
#menu a:hover{
	color: #DC0000;
}




























#h50px{
	height: 50px;
}

.vl {
	border-left: 6px solid #dc0000;
	left: 50%;
}

#category-list{
	padding: 10px 10px 10px 10px;
	background-color: #2e2e2e;
	margin: 0px 5% 0px 5%;
	display: flex;
	align-items: stretch;
	row-gap: 30px;
	column-gap: 30px;
	flex-wrap: wrap;
}

#category-container{
	background-color: #2e2e2e;
	display: inline-block;
	width: 508px;
	color: white;
	border: solid 1px black;
	padding: 15px 15px 0px 15px;
	text-align: center;
	transition: all 0.25s;
}
#category-container:hover{
	background-color: #1e1e1e;
}

#category-img{
	display: inline-block;
	width: 508px;
	transition: all 0.5s;
}
#category-img:hover{
	transform: translateY(-30);
}

#big-text{
    text-align: center;
    font-size: 100px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}
.s-m-links{
	display: flex;
	margin-top: 50px;
	align-content: center;
	justify-content: center;
	margin-bottom: 30px;
}
.social-logo{
	display: inline-block;
	width: 64px;
	margin-left: 20px;
	margin-left: 20px;
	background-color: transparent;
	transition: all 0.25s;  
}
.social-logo:hover{
	transform: translateY(-10px);
	background-color: transparent;
}
#hl{
	border: 2px solid #DC0000;
	margin: 50px 5% 0px 5%;	
}